body {
  background-color: #f8f9fa;
  padding-top: 20px;
}

#calendar {
  margin-top: 20px;
}
.custom-header {
  background-color: #c70f0f;
  color: #ffffff;
  padding: 20px 0;
  margin-bottom: 30px; /* Menambahkan margin-bottom */
}

.site-title {
  font-size: 24px;
  margin: 0;
}

.haid-date {
  background-color: #ff0017;
}

.masa-subur {
  background-color: #01ff3b;
}
#hitungBtn {
  background-color: #c70f0f;
  color: #ffffff;
}

#hitungBtn:hover,
#hitungBtn:focus {
  background-color: #c2185b;
  color: #ffffff;
}
.table {
  width: 100%;
  table-layout: fixed;
}

.table td,
.table th {
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Responsive styles */
@media (max-width: 767px) {
  .table td,
  .table th {
    padding: 0.25rem;
    font-size: 12px;
  }
  #hitungBtn {
    margin-bottom:20px;
  }
}

